body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
}

span {
  color: brown;
  display: inline-flex;
  align-items: center;
}

span::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 55px;
  background-color: brown;
  margin-left: 4px;
}
